.alert-container {
  padding: 0.5em; }

.alert {
  position: relative;
  width: 100%;
  padding: 1em 0.5em;
  margin: 0.25em 0;
  font-weight: lighter;
  color: white; }
  .alert.success {
    background-color: #bcd8ad; }
  .alert.warning {
    background-color: #e0e2ae; }
  .alert.info {
    background-color: #b3c8db; }
  .alert.error {
    background-color: #d89595; }
  .alert .dismiss-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0; }
