.button {
  display: inline-block;
  background: 0;
  border: 1px solid #d6d6d6;
  border-radius: 0;
  height: 2.25em; }

.button:hover {
  border-color: #f4f4f4; }

.button-ok {
  background-color: #5e9e3f; }
  .button-ok:hover {
    background-color: #99bc87; }
