
// Grid

$main_container_width: 50%
$side_bar_width: 33%
$side_bar_menu_width: 8%
$side_bar_page_width: 92%

// Colors

$default_grey:  #f4f4f4
$default_blue:  #a0bfdb
$default_green: #99bc87
$default_gold:  #d4d88a
$default_red:   #d89595

$highlight_grey:   #d6d6d6
$highlight_blue:   #6f95b7
$highlight_green:  #5e9e3f
$highlight_gold:   #bac147
$highlight_red:    #b74b4b

$dark_grey: #444444
$dark_blue: #3b5b77

$side_bar_background_color: $dark_blue
