
// Grid

$media_breakpoint1: 960px
$media_breakpoint2: 540px

@mixin desktop
  @media (min-width: $media_breakpoint1)
    @content

@mixin tablet
  @media (max-width: $media_breakpoint1) and (min-width: $media_breakpoint2)
    @content

@mixin mobile
  @media (max-width: $media_breakpoint2)
    @content

$side_bar_large_width: 33.3%
$side_bar_medium_width: 320px
$side_bar_small_width: 90%

$side_bar_menu_width: 2.5em
$side_bar_page_width: calc(100% - #{$side_bar_menu_width})

// Colors

$default_grey:  #f4f4f4
$default_blue:  #a0bfdb
$default_green: #99bc87
$default_gold:  #d4d88a
$default_red:   #d89595

$highlight_grey:   #d6d6d6
$highlight_blue:   #6f95b7
$highlight_green:  #5e9e3f
$highlight_gold:   #bac147
$highlight_red:    #b74b4b

$dark_grey: #444444
$dark_blue: #3b5b77

$light_green: #bcd8ad
$light_yellow: #e0e2ae
$light_blue: #b3c8db
$light_red: #d89595

$side_bar_background_color: $dark_blue
