
// Grid

$main_container_width: 960px;

// Colors

$default_grey:  #f4f4f4
$default_blue:  #a0bfdb
$default_green: #99bc87
$default_gold:  #d4d88a
$default_red:   #d89595

$highlight_grey:   #d6d6d6
$highlight_blue:   #6f95b7
$highlight_green:  #5e9e3f
$highlight_gold:   #bac147
$highlight_red:    #b74b4b

$dark_blue: #3b5b77
