@import url(reset.css);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }

body,
input,
textarea {
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
