.search-results {
  height: 100%;
  overflow-y: auto; }

.search-results-wrapper {
  padding: 1em 0;
  margin: 0 auto;
  width: 960px; }

.search-results-group {
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em; }

.search-results-container {
  display: flex;
  flex-flow: wrap; }
  .search-results-container.empty {
    color: #d6d6d6;
    padding: 0.5em 0;
    text-align: center;
    display: inline-block; }

.search-results-item {
  flex-basis: 18%;
  flex-grow: 0;
  justify-content: flex-start;
  position: relative;
  max-width: 18%;
  height: 180px;
  overflow: hidden;
  margin: 0.5em 1%;
  border: 3px solid #f4f4f4; }
  .search-results-item a {
    outline: 0; }

.search-results-item.pending {
  border-color: #a0bfdb; }
  .search-results-item.pending.parent {
    border-color: #a0bfdb #99bc87 #99bc87 #a0bfdb; }
  .search-results-item.pending.child {
    border-color: #a0bfdb #d4d88a #d4d88a #a0bfdb; }

.search-results-item.parent {
  border-color: #99bc87; }

.search-results-item.child {
  border-color: #d4d88a; }

.search-results-item.deleted {
  border-color: #d89595; }

.search-results-item:hover {
  border-color: #d6d6d6; }

.search-results-item:hover.pending {
  border-color: #6f95b7; }
  .search-results-item:hover.pending.parent {
    border-color: #6f95b7 #5e9e3f #5e9e3f #6f95b7; }
  .search-results-item:hover.pending.child {
    border-color: #6f95b7 #bac147 #bac147 #6f95b7; }

.search-results-item:hover.parent {
  border-color: #5e9e3f; }

.search-results-item:hover.child {
  border-color: #bac147; }

.search-results-item:hover.deleted {
  border-color: #b74b4b; }

.search-results-item-image {
  margin: 12px 0;
  text-align: center; }

.search-results-item-details {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  color: white;
  background: rgba(1, 1, 1, 0.2); }
  .search-results-item-details:hover {
    background: rgba(1, 1, 1, 0.4); }

.search-results-modal-preview .modal-panel {
  text-align: center; }

.search-results-modal-preview .image {
  max-height: 100%; }

.slideshow-toggle {
  position: absolute;
  right: 0;
  bottom: 0; }
