.search-form .input-label {
  width: 4em; }

.search-form input {
  width: calc(100% - 4em); }

.search-form-submit-btn button {
  width: 100%; }

.search-form .search-form-query {
  width: 100%; }

.search-form .search-form-filters {
  width: 72%; }

.search-form .search-form-limit {
  width: 16%; }

.search-form .search-form-submit-btn {
  width: 12%; }
