
.settings .input-label
  display: block
  width: 4em

.settings .button
  color: white

.settings button[type=submit]
  width: 6em

.slideshow-interval
  .input-label
    display: inline-block
    width: 10em
  .input
    width: 4em

.settings-tagaliases-name
  width: 25%
  .input
    width: 100%

.settings-tagaliases-tags
  width: 65%
  .input
    width: 100%

.settings-tagaliases-remove-btn
  width: 10%
