.settings .input-label {
  display: block;
  width: 4em; }

.settings .button {
  color: white; }

.settings button[type=submit] {
  width: 6em; }

.settings-tagaliases-name {
  width: 25%; }
  .settings-tagaliases-name .input {
    width: 100%; }

.settings-tagaliases-tags {
  width: 65%; }
  .settings-tagaliases-tags .input {
    width: 100%; }
