.side-bar {
  position: fixed;
  z-index: 10;
  width: 30%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  background-color: #a0bfdb;
  transition-property: left;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s; }
  @media screen and (max-width: 1280px) {
    .side-bar {
      width: 384px; } }
  .side-bar.hidden {
    left: calc(-30% + 2.5em); }
    @media screen and (max-width: 1280px) {
      .side-bar.hidden {
        left: calc(-384px + 2.5em); } }

.side-bar-title {
  width: calc(100% - 2.5em);
  height: 8%;
  font-family: 'Passion One';
  color: white;
  padding: 1.25em 0 1.25em 1em;
  border-bottom: 1px solid #d6d6d6;
  background-color: #444444; }
  .side-bar-title h1 {
    font-size: 2em; }

.side-bar button {
  color: white; }

.side-bar-menu {
  display: inline-block;
  width: 2.5em;
  height: 100%; }

.side-bar-menu-item {
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em 0.25em;
  margin-bottom: 0.25em;
  color: #6f95b7 !important;
  border: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background-color: #a0bfdb !important; }
  .side-bar-menu-item.first-item {
    margin-top: 3em; }
  .side-bar-menu-item.selected {
    color: white !important;
    background-color: #3b5b77 !important; }

.side-bar-page {
  display: inline-block;
  width: calc(100% - 2.5em);
  height: 92%;
  overflow: auto;
  vertical-align: top;
  padding: 1.0em 0.5em;
  padding-right: 0.75em;
  background-color: #3b5b77; }
