
@import 'Defs.sass'

.side-bar
  position: fixed
  top: 0
  left: 0
  height: 100%
  background-color: $highlight_blue

.side-bar-item
  display: block
  font-size: 32px
  margin: 1.0em 0.5em
  color: white
