
@import 'Defs.sass'

.side-bar
  position: fixed
  width: $side_bar_width
  top: 0
  left: 0
  height: 100%
  color: white
  transition-property: left
  transition-timing-function: ease-in-out
  transition-duration: 0.2s
  &.hidden
    left: $side_bar_width/-100% * $side_bar_page_width

.side-bar button
  color: white

.side-bar-menu
  display: inline-block
  height: 100%

.side-bar-menu-item
  display: block
  width: 100%
  font-size: 1.8em
  padding: 0.5em 0.25em
  color: $highlight_blue !important
  border: 0 !important
  background-color: $default_blue !important
  &.first-item
    margin-top: 2em
  &.selected
    color: white !important
    background-color: $dark_blue !important

.side-bar-page
  display: inline-block
  width: $side_bar_page_width
  height: 100%
  vertical-align: top
  padding: 0.5em 0.5em
  padding-right: 0.75em
  background-color: $dark_blue
